@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #fdfeff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fdfeff;
}

a {
  font-weight: 500;
  color: #028dbf;
  text-decoration: inherit;
}

a:hover {
  color: #026a8f;
}

button {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 2px solid #028dbf;
  outline-offset: 2px;
}
